* {
  box-sizing: border-box;
}
.Login-container {
  display: block;
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 75px;
}
.Login-title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #333;
}

.login-input {
  max-width: 382px;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
}
.id-input {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 18px;
  background-color: #efefef;
  border: none;
}
.pwd-input {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 18px;
  background-color: #efefef;
  border: none;
}
.login-btn {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
  background-color: #333;
  &:hover {
    cursor: pointer;
  }
}
.bottom-check {
  // display: flex;
  // justify-content: space-evenly;
  margin-top: 30px;
  // margin-right: 35px;
  text-align: center;
  font-size: 16px;
}
#save {
  margin-right: 9px;
}
.id-save {
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}
.find-account-link {
  position: relative;
  margin-right: 5px;
  // padding-left: 11px;
  margin-left: 4px;
  &:hover {
    cursor: pointer;
  }
}
.register-link {
  position: relative;
  // padding-left: 11px;
  // margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
}

.sns-login {
  margin-top: 75px;
  text-align: center;
  h3 {
    font-size: 24px;
    font-weight: 400;
  }
  ul {
    margin-top: 29px;
    li {
      display: inline;
      .facebook {
        width: 55px;
        margin: 0 15px;
      }
      .kakao {
        width: 55px;
        margin: 0 15px;
      }
      .naver {
        width: 55px;
        margin: 0 15px;
      }
    }
  }
}

.non-members {
  margin-top: 50px;
  a {
    text-decoration: none;
    color: grey;
  }
}
