@import '../../../styles/variables.scss';
@import '../../../styles/common.scss';
@import '../../../styles/reset.scss';

.card {
  margin-bottom: 50px;

  .card-name {
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    color: #666;
  }
  .card-price {
    font-size: 18px;
    color: #333;
    line-height: 24px;
    font-weight: 500;
  }

  .img-container {
    position: relative;

    .card-img {
      display: block;
      margin-bottom: 20px;
      width: 261px;
      opacity: 1;
      backface-visibility: hidden;
    }

    .img-hover {
      // display: none;
      top: 0;
      left: 0;
      position: absolute;
      width: 261px;
      height: 261px;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color ease-in 0.8s;
      position: absolute;

      .hover-items {
        position: absolute;
        font-size: 20px;
        bottom: 0%;
        left: 30%;
        opacity: 0;
        padding: 10px;
        color: white;
        transition: 0.8s ease-in-out;
      }

      .hover-items i {
        padding: 10px;
      }
    }
  }

  .img-container:hover .card-img {
    opacity: 0.3;
  }

  .img-container:hover .img-hover {
    // display: block;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .img-container:hover .hover-items {
    bottom: 40%;
    opacity: 1;
  }

  .brand-name {
    display: inline-block;
    border: 1px solid #d0d0d0;
    padding: 5px 10px;
    margin-bottom: 15px;
  }

  .card-name {
    margin-bottom: 20px;
  }
}
