.Heart {
  position: absolute;
  bottom: 30%;
  left: 50%;
  padding: 10px;

  .heart-number {
    position: absolute;
    top: 35px;
    right: 15px;
    font-size: 15px;
  }
}

.img-container:hover .hover-items i .Heart {
  bottom: 40%;
  transition: 0.8s;
  text-align: center;
}

.img-container:hover .Heart {
  bottom: 40% !important;
  transition: 0.8s;
}
