.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 770px;
  height: 580px;
  margin: 0 auto;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  margin: 20px;
  padding-bottom: 30px;
  font-weight: 700;
  border-bottom: solid;
}

.modal > section > header button {
  position: absolute;
  top: -20px;
  right: -26px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: center;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.initial_modal {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  display: block;
  width: auto !important;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  line-height: 1;
  padding: 10px 0 0 0;
  border-left: none;
  background: none;
  margin-bottom: 30px;
  p {
    padding-bottom: 10px;
  }
  textarea {
    display: inline-block;
    width: 100%;
    height: 160px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    padding: 20px;
    background-color: #efefef;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 20px;
  }
}
