.container {
  margin: 0;
  padding: 30px 30px 100px;
}
.SubMenu {
  position: relative;
  width: 100%;
  float: left;
  display: flex;
  list-style: none;
}

.ShareIcon {
  height: 30px;
  width: 30px;
  border-radius: 30px black;
}
.ProductImage {
  margin: 100px;
}
.BuyDataWrap {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.BuyDataWrap {
  justify-content: space-between;
}

.Amount {
  display: flex;
  justify-content: center;
}
