.bag-item {
  width: 100%;
  height: 140px;
  position: relative;

  padding: 20px 20px 20px 20px;
  min-height: 100px;
  border-top: 1px solid #e0e0e0;

  .item-img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;

    img {
      width: 100%;
    }
  }
  .item-txt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    float: left;
    padding: 10px 0;

    width: calc(100% - 120px);

    p {
      font-weight: 300;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .txt-brand {
      span {
        display: inline-block;
        font-size: 12px;
        color: #666;
        font-weight: 400;
        line-height: 25px;
        padding: 0 10px;
        background: #fff;
        border: 1px solid #d0d0d0;
        box-sizing: border-box;
        transition: all 0.45s ease;
      }
      span:hover {
        color: #fff;
        background: #666;
        border: 1px solid #666;
      }
    }
    .txt-name {
      font-size: 14px;
      color: #333;
      line-height: 20px;
      margin-top: 8px;
      white-space: nowrap;
      overflow: hidden;

      text-overflow: ellipsis;
    }
    .txt-price {
      font-size: 14px;
      color: #333;
      line-height: 20px;
      margin-top: 6px;
      font-weight: 300;
      em {
        color: #333;
        font-weight: 500;
      }
    }
  }
}
