* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.b {
  font-weight: 700;
}
.container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 120px 30px 0 30px;
  h2 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
  }
}

.wrapper {
  max-width: 600px;
  margin: 50px auto 0;
  .check-agreement {
    margin-top: 50px;
    padding: 0 20px;
    text-align: left;
    line-height: 30px;
    h3 {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 20px;
    }
    ul {
      li {
        position: relative;
        margin: 5px 0;
        img {
          position: absolute;
          right: 60px;
          top: 8px;
        }
        a {
          position: absolute;
          right: 0;
          font-size: 13px;
          text-decoration: none;
          color: black;
        }
        .terms {
          vertical-align: middle;
          margin-right: 10px;
        }
        label {
          vertical-align: middle;
          font-size: 14px;
          color: #9c9e9c;
        }
        &:last-child {
          border-top: 1px solid #c9c9c9;
        }
      }
    }
  }

  .info-container {
    margin-top: 50px;
    h3 {
      padding: 0 20px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .input-wrapper {
      li {
        margin-bottom: 10px;
      }
    }
    .firstname-alert {
      text-align: center;
      margin-left: 182px;
      vertical-align: center;
      color: #ff8400;
    }
    .lastname-alert {
      text-align: center;
      margin-left: 182px;
      vertical-align: center;
      color: #ff8400;
    }
    .email-alert {
      text-align: center;
      margin-left: 182px;
      vertical-align: center;
      color: #ff8400;
    }
    .password-alert {
      text-align: center;
      margin-left: 182px;
      vertical-align: center;
      color: #ff8400;
    }
    .phonenumber-alert {
      text-align: center;
      margin-left: 182px;
      vertical-align: center;
      color: #ff8400;
    }
  }
}

.input-container {
  /*margin-bottom: 10px;*/
  display: flex;
  position: relative;
  margin-top: 10px;
  .firstname {
    padding-left: 20px;
    float: left;
    line-height: 50px;
    color: #9c9e9c;
  }
  // .firstname-input-wrapper {
  // }
  .firstname-input {
    width: 64%;
    height: 40px;
    margin-left: 167px;
    padding: 10px 15px;
    background-color: #efefef;
    border: none;
    color: #9c9e9c;
    /*margin-bottom: 50px;*/
  }

  .lastname {
    padding-left: 20px;
    float: left;
    line-height: 50px;
    color: #9c9e9c;
  }
  .lastname-input-wrapper {
    width: 64%;
  }
  .lastname-input {
    width: 100%;
    height: 40px;
    margin-left: 150px;
    padding: 10px 15px;
    background-color: #efefef;
    border: none;
  }
  /*.email-inputcell {
    display: flex;
  }*/
  .signup-email {
    padding-left: 20px;
    width: 75px;
    float: left;
    line-height: 50px;
    color: #9c9e9c;
    display: flex;
  }
  .signup-email-input-wrapper {
    width: 85%;

    .input-wrap {
      display: flex;
      padding-left: 25%;
      .email-input1 {
        width: 100%;
        height: 35px;
        background-color: #efefef;
        color: #827f7f;
        border: none;
        padding: 10px 15px;
      }
      .special-symbols {
        background-color: #efefef;
        height: 35px;
        line-height: 30px;
      }
      .email-input2 {
        width: 47%;
        height: 35px;
        background-color: #efefef;
        border: none;
      }
      .email-select {
        width: 35%;
        height: 35px;
        background-color: #efefef;
        border: none;
      }
    }
  }
  /*.signup-email-input {
    width: 10%;
    height: 40px;
    margin-left: 135px;
    padding: 10px 10px;
    background-color: #efefef;
    border: none;
  }*/
  .signup-pwd {
    padding-left: 20px;
    float: left;
    line-height: 50px;
    color: #9c9e9c;
    display: flex;
  }
  .signup-pwd-input {
    width: 64%;
    height: 40px;
    margin-left: 117px;
    padding: 10px 15px;
    background-color: #efefef;
    border: none;
  }
}

.phone-number {
  padding-left: 20px;
  width: 75px;
  float: left;
  line-height: 50px;
  color: #9c9e9c;
  display: flex;
}
.phone-number-input-wrapper {
  width: 64%;
  height: 40px;
  margin-left: 21%;
  background-color: #efefef;
  display: flex;
  .phone-number-input1 {
    width: 100%;
    padding: 10px 15px;
    background-color: #efefef;
    border: none;
  }
  /*.slash {
    display: flex;
    line-height: 40px;
  }
  .phone-number-input2 {
    width: 30%;
    padding: 10px 15px;
    background-color: #efefef;
    border: none;
  }
  .phone-number-input3 {
    width: 30%;
    padding: 10px 15px;
    background-color: #efefef;
    border: none;
  }*/
}
.date {
  padding-left: 20px;
  width: 90px;
  float: left;
  line-height: 50px;
  color: #9c9e9c;
  display: flex;
}
.date-input-wrapper {
  width: 64%;
  height: 40px;
  margin-left: 18%;
  /*background-color: #efefef;*/
  display: flex;
}
.date-input {
  width: 30%;
  background-color: #efefef;
  border: none;
}
.radio {
  margin-left: 20px;
  .is-solar {
    line-height: 40px;
    margin-left: 8px;
  }
  .is-lunar {
    line-height: 40px;
    margin-left: 8px;
  }
}

.button-wrapper {
  margin-top: 40px;
  .submit-button {
    width: 70%;
    height: 50px;
    background-color: black;
    color: #fff;
    font-size: 17px;
  }
  .delete-button {
    width: 30%;
    height: 50px;
    background-color: #fff;
    font-size: 17px;
  }
}
