@import '../../styles/variables.scss';
@import '../../styles/common.scss';

.cards-container {
  padding: 50px 30px 0 30px;
  .category-name {
    font-size: 80px;
    color: #333;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
    text-align: left;
    letter-spacing: 4px;
  }

  .category-amount {
    margin-left: 10px;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
