nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
  .inner {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 30px;
    height: 105px;
    display: flex;

    .logo {
      position: absolute;
      top: 45px;
      left: 30px;
      z-index: 50;
    }
  }
  .menu {
    padding: 63px 0 0 140px;
    li {
      float: left;
      margin-right: 30px;
      font-family: 'Barlow', 'Noto Sans', sans-serif;
      font-size: 26px;
      color: #333;
      line-height: 41px;
      font-weight: 700;
      letter-spacing: 1.3px;

      a {
        position: relative;
        display: block;
        font-size: 26px;
        color: #333;
        line-height: 41px;
        font-weight: 700;
        letter-spacing: 1.3px;
        cursor: pointer;
        text-decoration: none;
      }
      a:after {
        content: '';
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        width: 0;
        height: 3px;
        background: #333;
        transition: width 0.5s ease;
      }
      a:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 6px;
        width: 3px;
        height: 0;
        margin-bottom: -3px;
        border-bottom: 3px solid #fff;
        background: #333;
        transition: height 0.55s 0s ease;
        z-index: 1;
      }
      a:hover {
        color: #ff5000;
      }
      a:hover:after {
        width: 100%;
        right: auto;
        left: 0;
      }
      a:hover:before {
        height: 6px;
        background: #ff5000;
        transition-delay: 0.5s;
      }
      a:hover:after {
        background: #ff5000;
      }
    }
  }
  .icon-box {
    position: absolute;
    top: 63px;
    right: 30px;
    z-index: 50;
    .icons {
      width: 32px;
      height: 32px;
      margin-right: 15px;
    }

    i {
      font-size: 24px;
      margin-left: 30px;
    }
  }
}
